* {
	box-sizing:border-box;
	scroll-behavior: smooth;
}

body {
	margin:0;
	padding:0;
}

.navbar-brand .nav-icon {
	height:2rem;
	width:2rem;
}
.card {
    box-shadow: 0 2px 6px rgba(0, 0, 0, .20);
    padding: 10px;
    margin:10px;
}

.obj {
    opacity: 0;
    transform: translateY(15%);
    transition: all 1.5s ease;
}

.obj.active {
    opacity: 1;
    transform: translateY(0);
}

div.row {
	margin:-0.7rem;
}

.fa {
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    color: #4285f4;
    margin: 5px;
}
.btn {
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
}

.images {
    width: 100%;
    background: transparent;
    overflow: hidden;
    /* Hidden overflow in parent to remove the scrollbars in browser*/
    display: flex;
}

.images .holder {
    overflow: scroll;
    /* Make the images scrollable */
    display: flex;
    /* helps to auto scroll kinda thing...
		 * just google it what scrollsnap is..
		 * youll also find scroll snap example in tiktok or youtube shorts
		 */
    scroll-snap-type: x mandatory;
    width: 100%;
}

.images .holder .preview {
    min-width: 90%;
    height: auto;
    /* another part of scrollsnap which i cant explain */
    scroll-snap-align: start;
}

.images .holder .preview {
    width: 100px;
}

.footer {
	color:#121212;
	margin-top:2rem;
}

.footer .links {
	margin:1rem 0;
}

.footer .links a .fa {
	font-size:1rem;
}

@media (max-width:1080px) {
    section.main {
        margin: 3%;
    }
    .container-fluid {
        margin: 0;
    }
}