* {
	font-family:maven;
	box-sizing:border-box;
	user-select:none;
	scroll-behavior: smooth !important;
}

body {
	transition:0.4s;
	background:#eee;
}

.al, .view {
	display:none;
}

.item {
	opacity:0;
	transform:translateY(10%);
	transition:all 0.7s ease;
}

.item.active {
	opacity:1;
	transform:translateY(0);
}

.card {
	background-color: #fcfcfc;
}

img {
	pointer-events:none;
}

#typed {
	margin-bottom:2rem;
	display:flex;
	align-items:flex-end;
}

.iam {
	color:#0078ff;
	font-weight:400;
}

.typed-cursor {
	margin:10px;
	font-weight:900;
}

.name {
/*	color:#212529;*/
	color: #333;
	box-sizing:border-box;
	padding:1rem 0.7rem;
	font-weight:500;
	font-size:1.3rem;
	display:flex;
	justify-content:space-between;
}

.form-check-label {
	font-size:1rem;
	height:100%;
	display:flex;
	justify-content:center;
}

.nav-icon {
	height:2rem;
	width:2rem;
}

.navbar {
	position:sticky !important;
	top:0;
	z-index:999;
}

h1, h2>span {
	color:#0078ff;
	font-weight:742;
}

.intro .wave {
	display:inline;
}

.intro span {
	display:block;
}

.about span {
	display:block;
}

.about h1 {
	color:#0078ff;
}

.about .aimg {
	height:auto;
	width:100%;
	max-width:300px;
	padding:2rem;
}

.projects .project {
	display:flex;
	flex-direction:column;
	width:auto;
	flex-shrink:0;
	background:#eee;
	margin-left:0.5rem;
}

.projects .project:nth-child(1) {
	margin-left:0;
}

.projects .items {
	display:flex;
	flex-direction:row;
	overflow-x:scroll;
	flex-wrap:nowrap;
}

.projects .project span {
	width:100%;
	display:block;
	justify-content:center;
	flex-direction:column;
}

.projects .project .title {
	color:#0078ff;
	font-weight:742;
}

.projects .project .def {
	font-size:0.8rem;
	line-break:break-line;
	width:70vw;
}

.projects .project .desc {
	margin-left:0;
	margin-top:1rem;
}
.projects .project .img {
	width: min(50px, 200px);
	height:auto;
	margin:0;
	display:flex;
	justify-content:center;
	align-items:center;
	object-fit:contain;
}

.projects .project i {
	padding:15vw;
	color:#0078ff;
	font-size:min(calc(30vw + 1rem), 3rem);
}
/*
.projects .project.re :is(span) {
	margin:0;
	padding-right:0.8rem;
}

.projects .project.re :is(i) {
	margin-right:-2rem;
}*/

.projects  .show {
	width: min(100%, 150px);
}
.projects .show:active {
	color:hsl(212, 100%, 30%);
}

footer {
	background:#fff;
}

.footer :is(a) {
	text-decoration:none;
	margin:0.9rem;
	color:#0078ff;
}

.footer :is(.links) {
	margin:0.9rem 0;
}

.stat .items {
	display:flex;
	gap: 0.5rem;
	margin:1rem;
	padding:1rem;
}

.git {
	max-width:500px;
	margin:1.5rem 0;
}

.featured {
	display:flex;
	flex-direction:column;
}

.featured .fitem {
	display:flex;
	flex-direction:row;
}

.featured :is(.desc, span) {
	display:block;
}

.featured img {
	width: min(50%, 200px);
	height:50%;
}

.featured .title {
	font-size:1.5rem;
}

@font-face {
	font-family:maven;
	src:url("font.ttf");
}

@media screen and (max-width: 500px) {
	.stat .items {
		flex-direction:column;
	}

	.stat .git {
		width:100%;
	}
	
	.featured .fitem {
		flex-direction:column;
	}

}